<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <a href="/baba"></a><img
        style="position: absolute; max-width: 100px; overflow: hidden; right: 0; margin: 60px 20px; border-radius: 5px; box-shadow: 5px 0px 10px;"
        src="/assets/images/neemkaroli.gif" alt="">
    <div class="nav-container"><a href="/" aria-current="page" class="w-nav-brand w--current" aria-label="home"><img
                src="/assets/images/logo.png" alt="ratana international logo" class="logo"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="nav-wrapper">
                <a href="/rooms" class="nav-link w-nav-link">ROOMS</a>
                <a href="#" id="popup-btn" class="nav-link w-nav-link">Couple</a>
                <a href="/jashn" class="nav-link w-nav-link">Jashn</a>
                <a href="/events" class="nav-link w-nav-link">Events</a>
                <a href="/wedding" class="nav-link w-nav-link">Weddings</a>
                <a href="/contact" class="nav-link w-nav-link">Contact</a>
                <a href="/neebkarori" class="nav-link w-nav-link">Baba</a>
                <a href="/book" class="nav-link book w-nav-link">BOOK</a>
            </div>
        </nav>
        <div class="menu-button w-nav-button" aria-label="menu" role="button" tabindex="0"
            aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>